extends ./layout.jade

block body
  p You have added a new todo! #{todo.id}: #{todo.title}
<<<<<<< HEAD

  p
    | Your id is
    strong= todo.id
    
  if todo.id % 2
    p Your id is odd!

=======
  p
    | Your id is 
    strong= todo.id
  if todo.id % 2
    p Your id is odd!
>>>>>>> betamore/master
  else
    p Your id is even!
